doctype html
html
  head
    link(rel='stylesheet', href='css/xterm.css')
    link(rel='stylesheet', href='css/style.css')
  body
    #terminal
    script(src='js/xterm.js')
    script(src='js/FitAddon.js')
    script(src='js/socket.io.js')
    script(src='js/index.js')

