doctype html
html
  head
    link(rel='stylesheet', href='html/css/xterm.css')
    link(rel='stylesheet', href='html/css/terminal.css')
  body
    #terminal
    script(src='html/js/xterm.js')
    script(src='html/js/FitAddon.js')
    script(src='html/js/socket.io.js')
    script(src='html/js/terminal.js')

