html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background: #050505;
  margin-top: 12px;
  margin-left: 12px;
  /* margin-bottom: 500px; */
  color: #aaa;
  font-size: 13px;
  font-family: arial, sans-serif;
}
iframe{
  display: inline-block;
  padding: 4px;
  box-sizing: border-box;
  /* border: 3px solid #333; */
  margin: 4px;
  background: #000;
}
.term_container{
  display: flex;
}
.row_input{
  width: 80px;
  font-size: 13px;
  text-align: center;
  background: black;
  color: cornflowerblue;
  border: none;
  padding: 2px;
}
.ifrm_container{
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #444;
  margin-right: 18px;
  margin-bottom: 18px;
  position: relative;
  vertical-align: top;
}
::-webkit-scrollbar {
  width: 1px;
  height: 10px;              
}
::-webkit-scrollbar-thumb {
  background-color:#333;
}
