html,body{
  margin: 0;
  padding: 0;
  background: transparent;
}
#terminal {
  box-sizing: border-box;
  display: inline-block;
  padding: 4px;
}
div{
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color:#444;
}
