html,body{
  margin: 0;
  padding: 0;
  background: transparent;
}
#terminal {
  box-sizing: border-box;
  display: inline-block;
  padding: 4px;
}
.xterm .xterm-viewport::-webkit-scrollbar {
  width: 1px;
  height: 1px;              
}
.xterm .xterm-viewport::-webkit-scrollbar-thumb {
  background-color:transparent;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-thumb {
  background-color:transparent;
}
